---
layout: page
title: Foire Aux Questions BLFS
use-site-title: true
---
      <p>La FAQ est divisée en trois documents. La <a
href="{{site.baseurl}}/faq/index.html">FAQ générale</a> propose des liens
vers toutes les questions et les réponses. La <a
href="{{site.baseurl}}/faq/lfs">FAQ LFS</a> est une sélection des questions
les plus fréquemment posées concernant LFS et la <a
href="{{site.baseurl}}/faq/blfs">FAQ BLFS</a> est une sélection des
questions les plus fréquemment posées spécifiques à BLFS.</p>

      <h3 id="blfsfaq"><a href="#genblfs">Questions générales sur BLFS</a></h3>
      <ul>
	<li><a href="#bootcd">Comment faire un CD amorçable&nbsp;?</a></li>
	<li><a href="#seti">Où puis-je joindre l'équipe LFS
SETI/Predictor/etc&nbsp;?</a></li>
      </ul>
      <h3><a href="#compissues">Problèmes de compilation</a></h3>
      <ul>
	<li><a href="#gtk-2_0">Je rencontre une erreur en construisant un paquet
demandant GTK+, mais j'ai installé GTK+ 2.x</a></li>
	<li><a href="#undefined-deflate">référence indéfinie à «&nbsp;deflate&nbsp;»</a></li>
	<li><a href="#missing-x-includes">X11/Xlib.h&nbsp;: No such file or
directory</a></li>
	<li><a href="#gnome-versions">Toute erreur lors de la construction d'une partie
de Gnome</a></li>
	<li><a href="#xfree-missing-seperator">XFree86: Makefile.proto:32: *** missing
separator</a></li>
      </ul>
      <h3><a href="#confissues">Problèmes de configuration</a></h3>
      <ul>
	<li><a href="#how-to-print">Comment faire pour imprimer&nbsp;?</a></li>
	<li><a href="#konsole-ps1">Comment puis-je initialiser PS1 dans
Konsole&nbsp;?</a></li>
      </ul>
      <div class="newsItem"></div>

      <h3 id="genblfs">Questions générales de BLFS</h3>
      <dl>
	<dt id="bootcd">Comment faire un CD amorçable&nbsp;?</dt>
	<dd>
	  <p>Le projet <a href="http://linuxfromscratch.org/livecd/index.html">LFS
LiveCD</a> à déjà fait le plus gros du travail&nbsp;! Le projet a une <a
href="http://linuxfromscratch.org/livecd/documentation.html">page de
documentation</a>. Des informations sur comment faire pour obtenir les
makefiles du projet, les scripts et les configurations sont disponibles sur
la <a href="http://linuxfromscratch.org/livecd/download.html">page
téléchargement</a>.</p>
	  <p>Si cela ne vous intéresse pas, il y a plusieurs <a
href="{{site.baseurl}}/astuces/lire">astuces</a> relatives aux CD
amorçables. </p>
	</dd>
	<dt id="seti">Où puis-je joindre l'équipe LFS SETI/Predictor/etc&nbsp;?</dt>
	<dd>
          <p>Einstein@Home: <a
href="http://einstein.phys.uwm.edu/create_account_form.php?teamid=3584">Joindre
l'équipe LFS</a></p>
          <p>LHC@Home: <a
href="http://lhcathomeclassic.cern.ch/sixtrack/team_display.php?teamid=4461">Page
de l'équipe LFS</a></p>
	</dd>
      </dl>
      <p><a href="#blfsfaq">Retour au debut.</a></p>

      <h3 id="compissues">Problèmes de compilation</h3>
      <dl>
	<dt id="gtk-2_0">Je rencontre une erreur en construisant un paquet demandant GTK+, mais j'ai
installéGTK+ 2.x.</dt>
	<dd>
	  <p>GTK+ 2.x et 1.2.x ne sont pas compatible. Le paquet que vous installez doit
demander GTK+ (et GLIB) 1.2.x. Vous pouvez installer GTL+ (et GLIB) 1.2.x à
coté de 2.x.</p>
	</dd>
	<dt id="undefined-deflate">référence indéfinie à «&nbsp;deflate&nbsp;»</dt>
	<dd>
	  <p>Si, pendant la compilation de XFree86, ghostscript, ou n'importe quoi
utilisant libpng, vous avec une erreur donnant la ligne
suivante&nbsp;:<code>/usr/lib/gcc-lib/i686-pc-linux-gnu/3.2/../../../libpng.so:
undefined reference to `deflate'</code>.</p>
	  <p>Ensuite reconstruisez libpng avec le correctif <a
href="http://linuxfromscratch.org/%7Esklein/libpng-1.2.5-lz.patch">http://linuxfromscratch.org/~sklein/libpng-1.2.5-lz.patch</a>.
Assurez-vous d'appliquer le correctif immédiatement après avoir désarchivé
les sources. Comme ceci&nbsp;:</p>
	  <div class="cmd">
	    <p>tar --no-same-owner -xvjf libpng-1.2.5.tar.bz2<br />
	    cd libpng-1.2.5<br />
	    cat ../libpng-1.2.5-lz.patch | patch -p0<br />
	    ln -s scripts/makefile.linux Makefile<br />
	    make ZLIBLIB=/lib ZLIBINC=/usr/include<br />
	    make ZLIBLIB=/lib ZLIBINC=/usr/include install<br />
	    cd ..<br />
	    rm -r libpng-1.2.5</p>
	  </div>
	  <p>Inutile de le dire, si vous avez mis zlib dans /usr/local au départ ou avez
fait quelque chose de différent, vous devrez ajuster ces instructions en
fonction.</p>
	</dd>
	<dt id="missing-x-includes">X11/Xlib.h: No such file or directory</dt>
	<dd>
	  <p>Les symptômes typiques ressemblent à ceci&nbsp;:</p>
	  <div class="cmd">
	    <p>$ echo -en 'x11:\n\tgcc x11.c\n' &gt; Makefile<br />
	    $ echo -en '#include &lt;X11/Xlib.h&gt;\nmain() { }\n' &gt; x11.c<br />
	    $ make<br />
	    gcc x11.c<br />
	    <strong>x11.c:1: X11/Xlib.h: No such file or directory</strong><br />
	    <strong>make: *** [x11] Error 1</strong><br />
	    $ rm Makefile x11.c<br />
	    $</p>
	  </div>
	  <p>La création de liens symboliques corrigera le problème. Il y a les commandes
&nbsp;: </p>
	  <div class="cmd">
	    <p>cd /usr<br />
	    ln -s X11R6 X11<br />
	    cd include<br />
	    ln -s ../X11/include/X11 X11</p>
	  </div><p></p>
	</dd>
	<dt id="gnome-versions">N'importe quelle erreur en construisant une partie de Gnome</dt>
	<dd>
	  <p>Utiliser la dernière version de chaque paquet Gnome ne fonctionne pas. Vous
devez utiliser les versions qui sont connues pour fonctionner ensemble et
sont utilisées dans le livre BLFS.</p>
	  <p>Pour trouver une liste de ces versions rendez-vous sur <a
href="http://ftp.gnome.org/pub/GNOME/desktop/">http://ftp.gnome.org/pub/GNOME/desktop/</a>,
descendez jusqu'à la version mentionnée dans BLFS et utilisez-la.</p>
	</dd>
	<dt id="xfree-missing-seperator">XFree86: Makefile.proto:32: *** missing separator</dt>
	<dd>
	  <p>Si vous avez l'erreur suivante en construisant XFree86&nbsp;:</p>
	  <p><code>Makefile.proto:32: *** missing separator. Stop.</code></p>
	  <p>Ou quelque chose qui ressemble à ça, vous avez sans doute fait une erreur
dans votre fichier host.def. Vérifiez le fichier consciencieusement et
essayez de le recréer en copiant les exemples dans BLFS.</p>
	</dd>
      </dl>
      <p><a href="#blfsfaq">Retour au debut.</a></p>

      <h3 id="confissues">Problèmes de configuration</h3>
      <dl>
	<dt id="how-to-print">Comment imprimer&nbsp;?</dt>
	<dd>
	  <p>Voir <a href="{{site.baseurl}}/astuces/lire">l'une des astuces sur
l'impression</a></p>
	  <p>Avant d'essayer les démons d'impression avancés (par exemple CUPS),
assurez-vous que votre imprimante fonctionne en suivant l'astuce <a
href="/astuces/print-from-scratch/">Imprimer de zéro</a>. Pour la plupart
des gens, cette astuce est tout ce dont ils ont besoin pour une
configuration basique.</p>
	  <p>Lorsque vous rapportez des problèmes avec CUPS, merci d'indiquer si les
commandes suivantes fonctionnent&nbsp;:</p>
	  <div class="cmd">
	    <p># Ceci est une image, donc ghostscript n'est pas appelé<br />
	    lpr -o ppi=100 /usr/share/doc/cups/images/cups-block-diagram.gif<br />
	    # Ce fichier PostScript n'utilise aucune police de caractères<br />
	    lpr /usr/share/ghostscript/&lt;version&gt;/examples/tiger.ps<br />
	    # Ce fichier PostScript utilise des polices de caractères<br />
	    lpr /usr/share/ghostscript/&lt;version&gt;/examples/alphabet.ps</p>
	  </div><p></p>
	</dd>
	<dt id="konsole-ps1">Comment initialiser PS1 dans Konsole&nbsp;?</dt>
	<dd>
	  <p>Suivez les instructions sur <a
href="/view/blfs-svn/postlfs/profile.html">Les fichiers de démarrage du
shell Bash</a> pour configurer correctement votre environnement.</p>
	  <p>Autrement, vous pouvez essayer les solutions suivantes&nbsp;:</p>
	  <p>Démarrez konsole en tant que shell de connexion&nbsp;:</p>
	  <p><code>konsole --ls</code></p>
	  <p>Changez la session dans Konsole pour démarrer <code>/bin/bash --login</code>
au lieu de <code>/bin/bash</code>.</p>
	</dd>
      </dl>

       <br />
