---
layout: page
title: Foire Aux Questions
use-site-title: true
---
      <p>La FAQ est divisée en trois documents. La <a
href="{{site.baseurl}}/faq/index.html">FAQ générale</a> propose des liens
vers toutes les questions et les réponses. La <a
href="{{site.baseurl}}/faq/lfs">FAQ LFS</a> est une sélection des questions
les plus fréquemment posées concernant LFS et la <a
href="{{site.baseurl}}/faq/blfs">FAQ BLFS</a> est une sélection des
questions les plus fréquentes et spécifiques à BLFS.</p>
      <h2 id="generalfaq">FAQ générale</h2>
      <h3><a href="#intro">Informations générales à propos de ces FAQ</a></h3>
      <ul>
	<li><a href="#why-faq">Pourquoi cette FAQ&nbsp;?</a></li>
	<li><a href="#what-is-lfs">Qu'est ce que LFS&nbsp;?</a></li>
	<li><a href="#what-is-blfs">Qu'est ce que BLFS&nbsp;?</a></li>
	<li><a href="#contribute">Comment puis-je contribuer à cette FAQ&nbsp;?</a></li>
      </ul>
      <h3><a href="#support">Instructions sur l'assistance</a></h3>
      <ul>
	<li><a href="#newbie">Je débute sur Linux ou LFS et j'ai besoin d'aide</a></li>
	<li><a href="#getting-help">Quel est le meilleur endroit pour trouver de
l'aide&nbsp;?</a></li>
	<li><a href="#which-list">Quelle liste de diffusion pour quel sujet&nbsp;?</a></li>
	<li><a href="#netiquette">Comment dois-je m'adresser à la communauté
LFS&nbsp;?</a></li>
      </ul>
      <h3><a href="#frb">Bugs fréquemment remontés</a></h3>
      <ul>
	<li><a href="#wrong-ln-s-command">Les commandes «&nbsp;ln -s&nbsp;» du livre
sont fausses.</a></li>
	<li><a href="#its-hardlink-not-copy">/bin/foo est une copie de /bin/bar.</a></li>
	<li><a href="#why-not-version">Puis-je utiliser une version plus récente que
celle du livre&nbsp;?</a></li>
	<li><a href="#new-version">Il y a une nouvelle version du paquet Foo.</a></li>
	<li><a href="#delete_key_not_work">La touche Del ne fonctionne pas.</a></li>
	<li><a href="#shutdown-on-fsck-error">Le système s'éteint après que fsck soit
sorti en erreur&nbsp;!</a></li>
	<li><a href="#where-lfs-packages">Où sont les archives des paquets de lfs ou les
scripts wget&nbsp;?</a></li>
	<li><a href="#how-to-find">Comment puis-je trouver un paquet ou une
commande&nbsp;?</a></li>
	<li><a href="#how-to-upgrade">Comment faire pour mettre à jour mon système
LFS/BLFS&nbsp;?</a></li>
      </ul>

      <h2 id="lfsfaq">La FAQ LFS&nbsp;:</h2>
      <h3><a href="/lfs/faq.html#fre">Améliorations fréquemment demandées</a></h3>
      <ul>
	<li id="add-grub"><a href="/lfs/faq.html#add-grub">Pourquoi ne pas utiliser LILO plutôt que
GRUB&nbsp;?</a></li>
	<li id="why-not-faq"><a href="/lfs/faq.html#why-not-faq">Pourquoi ne pas inclure la FAQ au
livre&nbsp;?</a></li>
	<li id="why-vim"><a href="/lfs/faq.html#why-vim">Pourquoi est-ce que Vim est dans le
livre&nbsp;?</a></li>
	<li id="hjl-binutils"><a href="/lfs/faq.html#hjl-binutils">Pourquoi est-ce que la version HJL de
Binutils n'est pas dans le livre&nbsp;?</a></li>
	<li id="why-not-package-management"><a href="/lfs/faq.html#why-not-package-management">Pourquoi n'y a-t'il pas
de gestionnaire de paquets dans le livre&nbsp;?</a></li>
	<li id="no-poweroff"><a href="/lfs/faq.html#no-poweroff">Comment provoquer l'arrêt électrique de
la machine à la sortie du système&nbsp;?</a></li>
      </ul>
      <h3><a href="/lfs/faq.html#resources">Pendant la lecture et la construction de
LFS</a></h3>
      <ul>
	<li id="what-dist"><a href="/lfs/faq.html#what-dist">Quel distribution dois-je utiliser pour
commencer&nbsp;?</a></li>
	<li id="kernel-modules"><a href="/lfs/faq.html#kernel-modules">Comment compiler le noyau ou
configurer un module&nbsp;?</a></li>
	<li id="gcc-warnings"><a href="/lfs/faq.html#gcc-warnings">Est-ce que c'est mal, les
avertissements de compilation de Gcc&nbsp;?</a></li>
	<li><a href="/lfs/faq.html#dirty-sources">Dois-je conserver les sources après
l'installation&nbsp;?</a></li>
	<li id="really-small"><a href="/lfs/faq.html#really-small">Comment puis-je procéder à cette toute
petite installation dont parle le livre&nbsp;?</a></li>
	<li id="procs-lfs"><a href="/lfs/faq.html#procs-lfs">Existe-t'il des informations sur la façon
de construire LFS sur d'autres architectures&nbsp;?</a></li>
	<li id="cross-compile"><a href="/lfs/faq.html#cross-compile">Comment faire une compilation croisée
avec LFS&nbsp;?</a></li>
	<li id="dos-text"><a href="/lfs/faq.html#dos-text">Qu'est qu'un fichier texte au format
DOS&nbsp;?</a></li>
	<li id="no-ptys"><a href="/lfs/faq.html#no-ptys">Le système n'a plus de ptys. Demandez à
votre administrateur d'en créer d'autres.</a></li>
      </ul>
      <h3 id="generrors"><a href="/lfs/faq.html#generrors">Erreurs de compilation usuelles.</a></h3>
      <ul>
	<li id="gnu-patches"><a href="/lfs/faq.html#gnu-patches">J'ai utilisé un patch provenant de GNU
pour faire des mises à jour. C'est bon&nbsp;?</a></li>
	<li id="optimizations"><a href="/lfs/faq.html#optimizations">Utilisation des paramètres
d'optimisation (paramétrage des CFLAGS)</a></li>
	<li id="config-hang-size_t"><a href="/lfs/faq.html#config-hang-size_t">Pourquoi est-ce que configure se
fige sur «&nbsp;checking for signed size_t type...&nbsp;»&nbsp;?</a></li>
	<li id="dirty-sources"><a href="/lfs/faq.html#dirty-sources">Je n'ai pas effacé l'arborescence des
sources après mon dernier essai. Faut-il le faire&nbsp;?</a></li>
	<li id="perm-denied"><a href="/lfs/faq.html#perm-denied">J'obtiens le message «&nbsp;/dev/null:
Permission denied&nbsp;»</a></li>
	<li id="sig11"><a href="/lfs/faq.html#sig11">signal 11 (internal error: Segmentation
fault)</a></li>
	<li id="any-no-such-file"><a href="/lfs/faq.html#any-no-such-file">No such file or directory</a></li>
	<li id="configure-no-such-file"><a href="/lfs/faq.html#configure-no-such-file">bash: ./configure: No such
file or directory</a></li>
	<li id="bad-interpreter-permission-denied"><a href="/lfs/faq.html#bad-interpreter-permission-denied">./configure: bad
interpreter: Permission denied</a></li>
	<li id="conf-guess-fail"><a href="/lfs/faq.html#conf-guess-fail">configure n'arrive pas à déterminer
le type de mon hôte.</a></li>
	<li id="config-not-gnu-c"><a href="/lfs/faq.html#config-not-gnu-c">checking whether we are using GNU
C... no</a></li>
      </ul>
      <h3 id="packerrors"><a href="../lfs/faq.html#packerrors">Erreurs spécifiques à certains
paquets</a></h3>
      <ul>
	<li id="unknown-pseudo-op-hidden"><a href="/lfs/faq.html#unknown-pseudo-op-hidden">GCC: Error: Unknown
pseudo-op: `.hidden'</a></li>
	<li id="no-linuxthreads"><a href="/lfs/faq.html#no-linuxthreads">Glibc: &quot;... it is normal to
compile GNU libc with the `linuxthreads' add-on...&quot;</a></li>
	<li id="glibc-awk-fail"><a href="/lfs/faq.html#glibc-awk-fail">Glibc sort en erreur et évoque BEGIN
et END.</a></li>
	<li id="glibc-nss"><a href="/lfs/faq.html#glibc-nss">La compilation de Glibc sort en erreur à
cause de l'absence du fichier d'entête nss.h</a></li>
	<li id="cpp-fails-sanity-check"><a href="/lfs/faq.html#cpp-fails-sanity-check">Ncurses: le préprocesseur C++
"/lib/cpp" échoue lors de la vérification de conformité</a></li>
      </ul>
      <h3 id="confboot"><a href="/lfs/faq.html#confboot">Problèmes de configuration et de
démarrage</a></h3>
      <ul>
	<li id="unable-to-mount-root"><a href="/lfs/faq.html#unable-to-mount-root">Kernel panic: VFS: unable to
mount root fs</a></li>
	<li id="respawning-too-fast"><a href="/lfs/faq.html#respawning-too-fast">init: Id &quot;1&quot;
respawning too fast: disabled for 5 minutes</a></li>
	<li id="net-pf-x"><a href="/lfs/faq.html#net-pf-x">J'obtiens des erreurs à propos de
net-pf-?.</a></li>
	<li id="char-major-10-135"><a href="/lfs/faq.html#char-major-10-135">modprobe: Can't locate module
char-major-10-135</a></li>
	<li id="no-dev-rtc"><a href="/lfs/faq.html#no-dev-rtc">modprobe: Can't locate module
/dev/rtc</a></li>
	<li id="eth0-unknown-interface"><a href="/lfs/faq.html#eth0-unknown-interface">eth0: unknown interface</a></li>
	<li id="spurious-8259A-interrupt"><a href="/lfs/faq.html#spurious-8259A-interrupt">spurious 8259A interrupt:
IRQ14</a></li>
	<li id="less-prints-ad"><a href="/lfs/faq.html#less-prints-ad">Pourquoi est-ce que less (et par
conséquent man) affiche &lt;AD&gt; au lieu des tirets&nbsp;?</a></li>
      </ul>
      <h2 id="blfsfaq">FAQ de BLFS&nbsp;:</h2>
      <h3 id="genblfs"><a href="/blfs/faq.html#genblfs">Questions d'ordre général sur BLFS</a></h3>
      <ul>
	<li id="bootcd"><a href="/blfs/faq.html#bootcd">Comment faire un CD de démarrage&nbsp;?</a></li>
	<li id="seti"><a href="/blfs/faq.html#seti">Où puis-je joindre les équipes LFS
SETI/Predictor/etc&nbsp;?</a></li>
      </ul>
      <h3 id="compissues"><a href="/blfs/faq.html#compissues">Problèmes de compilation</a></h3>
      <ul>
	<li id="gtk-2_0"><a href="/blfs/faq.html#gtk-2_0">J'obtiens des erreurs quand je construis un
paquet qui requiert GTK+, mais j'ai bien installé GTK+ 2.x.</a></li>
	<li id="undefined-deflate"><a href="/blfs/faq.html#undefined-deflate">undefined reference to
`deflate'</a></li>
	<li id="missing-x-includes"><a href="/blfs/faq.html#missing-x-includes">X11/Xlib.h: No such file or
directory</a></li>
	<li id="gnome-versions"><a href="/blfs/faq.html#gnome-versions">Toute erreur survenant lors de la
compilation d'un élément de Gnome</a></li>
	<li id="xfree-missing-seperator"><a href="/blfs/faq.html#xfree-missing-seperator">XFree86: Makefile.proto:32:
*** missing separator</a></li>
      </ul>
      <h3 id="confissues"><a href="/blfs/faq.html#confissues">Problème de configuration</a></h3>
      <ul>
	<li id="how-to-print"><a href="/blfs/faq.html#how-to-print">Comment imprimer&nbsp;?</a></li>
	<li id="konsole-ps1"><a href="/blfs/faq.html#konsole-ps1">Comment paramétrer PS1 dans
Konsole&nbsp;?</a></li>
      </ul>
      <div class="newsItem"></div>

      <h3 id="intro">Informations générales à propos de ces FAQ</h3>
      <dl>
	<dt id="why-faq">Pourquoi cette FAQ&nbsp;?</dt>
	<dd>
     <p>La FAQ essaye de répondre aux questions avant qu'elles soient posées. Ça
vous évite le souci de poser les questions et parfois, celui de rencontrer
le problème.</p>
     <p>Cela réduit le trafic et améliore le ratio signal/bruit, même si cela n'est
qu'un effet de bord bien utile.</p>
     <p>Comme la FAQ n'est pas l'emplacement naturel où chercher l'information, on
ne devrait y ajouter que ce qui ne peut pas aller dans la documentation
adéquate. Il sera parfois nécessaire d'ajouter à la documentation un
pointeur vers cette information.</p>
	</dd>
	<dt id="what-is-lfs">Qu'est ce que LFS&nbsp;?</dt>
	<dd>
     <p>LFS signifie Linux From Scratch et c'est un projet qui a pour but de vous
apprendre le fonctionnement interne de Linux en vous faisant construire un
système Linux par le téléchargement, la compilation et l'installation des
paquets.</p>
	  <p>Vous pouvez aussi aller lire <a
href="{{site.baseurl}}/lfs/index.html">l'introduction à LFS</a>.</p>
        </dd>
	<dt id="what-is-blfs">Qu'est ce que BLFS&nbsp;?</dt>
	<dd>
     <p>LFS est un système très basique, qui contraste beaucoup avec les
distributions traditionnelles. La raison est la suivante&nbsp;: LFS n'est
pas prévu pour créer un système à votre guise. Il est prévu pour être juste
suffisant pour vous permettre de créer un système à votre guise. Ce n'est
pas une fin, c'est un commencement. Quand vous en avez terminé avec LFS,
vous venez seulement de commencer à bâtir votre système.</p>
          <p>Ça peut être un problème si vous débutez avec les systèmes Unix et voulez
une installation bureautique classique avec X et un navigateur internet sans
savoir de quels paquets vous avez besoin. C'est pour cela qu'il existe
Beyond Linux From Scratch, ou <a
href="{{site.baseurl}}/blfs/index.html">BLFS</a>.</p>
	</dd>
	<dt id="contribute">Contribuer à cette FAQ.</dt>
	<dd>
     <p>Les suggestions sont plus que bienvenues. Le mainteneur de la FAQ peut être
joint par courrier électronique directement ou sur la <a
href="http://lists.linuxfromscratch.org/listinfo/faq/">Liste de diffusion de
la FAQ</a>.</p>
     <p>Les suggestions pertinentes comprennent l'ajout de questions fréquemment
posées (avec des réponses fouillées) et la suppression des questions
obsolètes.</p>
     <p>Si vous pensez contribuer régulièrement à cette FAQ, vous devriez vous
inscrire à la liste de diffusion. Toutes les suggestions, tous les ajouts
(et parfois suppressions) y sont débattues. Il est possible d'appliquer des
patches à la FAQ, même si les contributions au classique format texte sont
également acceptées.</p>
     <p>Tout ce qui est censé intégrer la FAQ, sans qu'il s'agisse d'une révision
complète, doit être réfléchi, vérifié, approfondi ; et écrit dans un style
qui se marie bien avec le contenu actuel.</p>
	</dd>
      </dl>
      <p><a href="#generalfaq">Haut de page.</a></p>
      <h3 id="support">Instructions sur l'assistance</h3>
      <dl>
	<dt id="newbie">Et si je débute avec Linux ou LFS&nbsp;?</dt>
	<dd>
     <p>Si vous avez lu les pages <a
href="/lfs/view/stable/prologue/prerequisites.html">prérequis</a> et <a
href="/lfs/view/stable/prologue/audience.html">public</a>, vous savez que
LFS vise les utilisateurs de Linux qui ont un niveau intermédiaire et
avancé. Quiconque a quelques mois d'expérience sur Linux et en particulier
la console devrait pouvoir monter avec succès son système LFS.</p>
     <p>LFS semble être un bon guide pour débuter sous Linux, cependant la réalité
est bien différente. Notre expérience sur les canaux d'assistance montre que
LFS est difficile à appréhender, et se révèle être une expérience frustrante
pour les débutants parce qu'il leur manque la compréhension des concepts de
base.</p>
     <p>Concrètement, cela signifie que les débutants devraient acquérir de
l'expérience avant de commencer avec LFS. La <a
href="/lfs/view/stable/prologue/prerequisites.html">page des prérequis</a>
liste les connaissances minimales à avoir sur Linux, et s'il vous plaît,
lisez également l'astuce sur la <a
href="{{site.baseurl}}/astuces/lire/">«&nbsp;Pré-lecture essentielle pour
vivre avec une LFS&nbsp;»</a>.</p>
     <p>Ces documents et cette FAQ sont votre petit guide de survie sous Linux. Vous
allez bien vous amuser avec LFS si vous les avez lu, ce sera beaucoup plus
difficile avec LFS et avec la communauté, et plus probablement avec
vous-même, si vous ne les avez pas lu.</p>
	</dd>
	<dt id="getting-help">Quel est le meilleur endroit où trouver de l'aide&nbsp;?</dt>
	<dd>
	  <p>Si vous n'avez pas trouvé de réponse dans cette FAQ, il y a d'autres
endroits où aller chercher.</p>
     <p>Si vous rencontrez un problème avec un passage du livre, ça ne peut pas
faire de mal de revenir quelques pages en arrière. C'est surprenant avec
quelle facilité certaines petites choses peuvent nous échapper.</p>
     <p>Enfin, la lecture des pages de man et d'info vous apportera des informations
pratiques sur certains sujets, si ce n'est la réponse à ce que vous
cherchez. Cela vous assurera également d'en savoir assez pour ne pas vous
mettre dans l'embarras si vous devez poser une question à quelqu'un.</p>
     <p><a href="http://www.tldp.org/">Le Projet de Documentation de Linux</a>
propose des tutoriels et une tonne de documentation. Vous devriez y trouver
quelque chose.</p>
     <p>La <a href="http://linuxfromscratch.org/search.html">page de recherche</a>
du site en anglais inclut les listes de diffusion. Beaucoup de questions y
ont été débattues au moins une fois. </p>
     <p>Pour une aide de type «&nbsp;assistance&nbsp;», IRC est souvent le meilleur
outil. C'est plus rapide et ça n'encombre pas la liste de diffusion. Plus
d'informations sur les <a href="{{site.baseurl}}/aide/#irc">canaux IRC</a>
sur la <a href="/support.html">page d'aide</a>.</p>
	  <p>Il y a quelques canaux IRC dignes d'intérêt.</p>
          <ul>
            <li><a href="irc://irc.freenode.net/lfs">#lfs</a> - le canal communautaire de
LFS en anglais.</li><li>
<a href="irc://irc.freenode.net/lfs">#lfs-fr</a> - le canal communautaire de
LFS en français.</li>
            <li><a href="irc://irc.freenode.net/lfs-support">#lfs-support</a> - Support pour
LFS et BLFS en anglais.</li>
            <li><a href="irc://irc.freenode.net/hlfs">#hlfs</a> - Support pour le livre HLFS
en anglais.</li>
          </ul>
          <p>Si vous formulez une requête d'assistance, vous aurez plus de chances
d'obtenir une aide amicale et compétente sur <a
href="irc://irc.freenode.net/lfs-support">#lfs-support</a>.</p>
     <p>En dernier recours, on trouve les listes de diffusion. Les gens risquent de
vous en vouloir si vous utilisez la mauvaise liste ou si vous postez sur
plusieurs listes à la fois. Les informations sur les listes de diffusions se
trouvent sur la <a href="/aide/#mailinglists">page d'aide</a> et indiquent
quelle liste utiliser.</p>
     <p>Souvenez-vous de fournir suffisamment d'informations quand vous postez sur
la liste de diffusion. Au <a
href="/view/lfs-stable/chapter01/askforhelp.html">chapitre 1 de LFS</a> vous
trouverez des instructions pour utiliser ces listes. De plus, quelqu'un a
écrit <a href="/astuces/errors/">une astuce</a> qui détaille la procédure de
remontée d'erreurs.</p>
	</dd>
	<dt id="which-list">Quelle liste de diffusion pour quel sujet&nbsp;?</dt>
        <dd>
          <p>Des informations sur toutes les listes de diffusion publiques sont
disponibles sur la page en anglais des <a
href="http://linuxfromscratch.org/mail.html">listes de diffusion</a>. Voici
quelques instructions pour déterminer quelle liste utiliser&nbsp;:</p>
	  <ul>
       <li>Envoyez vos requêtes d'<em>assistance</em> sur les livres des versions
stables sur <a
href="http://lists.linuxfromscratch.org/listinfo/lfs-support/">lfs-support</a>.
Pour tout ce qui ne concerne pas LFS, utilisez <a
href="http://lists.linuxfromscratch.org/listinfo/blfs-support/">blfs-support</a>.
Les rapports de bogues sont les bienvenus&nbsp;; vous pouvez <a
href="http://wiki.linuxfromscratch.org/">créer un ticket</a> pour le projet
adéquat ou envoyer un rapport sur la liste de diffusion <a
href="http://lists.linuxfromscratch.org/listinfo/lfs-dev/">lfs-dev</a>.</li>
       <li>Si vous n'avez aucune difficulté à suivre le Livre <em>LFS</em> lui-même,
n'envoyez <em>pas</em> de courriel à <a
href="http://lists.linuxfromscratch.org/listinfo/lfs-support/"><em>lfs</em>-support</a>.</li>
       <li>A moins que vous ne <em>suggériez une amélioration</em> au livre LFS
lui-même, n'envoyez pas de courriel à <a
href="http://lists.linuxfromscratch.org/listinfo/lfs-dev/">lfs-dev</a>.</li>
       <li>Seules les suggestions sur le Livre BLFS sont acceptées sur <a
href="http://lists.linuxfromscratch.org/listinfo/blfs-dev/">blfs-dev</a>.</li>
       <li>Les choses sont un peu différentes avec <a
href="http://lists.linuxfromscratch.org/listinfo/blfs-support/">blfs-support</a>.
Tout ce qui ne rentre pas dans une des listes précédentes rentre ici sauf si
cela concerne le prix de la bière et les guerres GNU contre BSD.</li>
       <li>Le prix de la bière, les guerres GNU contre BSD ou Microsoft contre Linux
sont limitées à <a
href="http://lists.linuxfromscratch.org/listinfo/lfs-chat/">lfs-chat</a>.
Aujourd'hui, c'est là également que les discussions sur la matériel
devraient se dérouler.</li>
	  </ul>
     <p>Remarquez que si vous évoquez XFree86, KDE ou GNOME, vous pouvez être sûr
que votre message n'est pas fait pour <a
href="http://lists.linuxfromscratch.org/listinfo/lfs-dev/">lfs-dev</a> ou <a
href="http://lists.linuxfromscratch.org/listinfo/lfs-support/">lfs-support</a>.</p>
	</dd>
	<dt id="netiquette">Et la netiquette&nbsp;?</dt>
	<dd>
     <p>Voici quelques informations pratiques sur l'étiquette. Elles incluent
seulement celles qui seront signalées si vous les avez omises. Ceux qui ont
l'habitude des listes de diffusion de projets trouveront que les premières
infos sont évidentes. Vers la fin, elles le sont un peu moins.</p>
     <p>Les justifications de ces règles ne sont pas mentionnées mais soyez assurés
que ces instructions sont bien plus que les préférences personnelles d'un
individu.</p>
     <p>Même si le texte mentionne exclusivement «&nbsp;les listes&nbsp;», le but
n'est pas d'ignorer les newsgroups miroirs des listes de diffusion.</p>
     <p>Ceci étant fait, voici quelques infos sur les comportements à adopter suivis
de choses plus «&nbsp;mécaniques&nbsp;»&nbsp;:</p>
     <p>Souvenez-vous qu'il est incorrect de poser des questions dont les réponses
figurent dans la documentation couramment accessible comme les livres LFS ou
BLFS, cette FAQ, les astuces LFS, les pages de man correspondantes, les
archives des listes et les recherches Google. Tant que vous pouvez montrer
que vous avez fourni un effort pour trouver une réponse et que vous ne vous
sentez pas offensé par un pointeur vers la documentation, aucune personne
raisonnable n'opposera d'objection à votre question.</p>
     <p>La plupart des conflits embarrassants débutent lorsqu'un débutant pose une
question dont la réponse est évidente, se fait alors critiquer (même
gentiment) et se trouve publiquement offensé. Essayez, s'il vous plait,
d'éviter cette situation. Le fait de diriger, sans autre explication, vers
la réponse exacte dans la documentation est suffisant. Si vous ressentez le
besoin de critiquer, faites le en privé, pas sur les listes. Le raisonnement
est le même pour tout ce qui pourrait «&nbsp;s'enflammer&nbsp;».</p>
     <p>Les membres des listes viennent du monde entier, donc l'argot et les
expressions idiomatiques risquent d'être mal comprises (comme en témoigne la
discussion récente sur le démarrage). Les propos injurieux, relatifs à la
politique, à la guerre, à la religion (même dans les signatures) risquent de
contrarier quelqu'un quelque part dans le monde, alors évitez les, s'il vous
plait. Enfin, on considère qu'il est plus poli de rédiger en anglais car
c'est une langue que la plupart des gens connaissent avant tout autre.</p>
	  <p>Passons maintenant aux choses plus «&nbsp;mécaniques&nbsp;».</p>
	  <ul>
       <li><strong>Ne postez pas en HTML</strong>. Si vous utilisez Yahoo, Hotmail, ou
Outlook et n'avez pas désactivé le HTML, c'est qu'il est activé. Si vous
utilisez un autre client de messagerie, vérifiez avant de poster. Si vous ne
savez pas comment désactiver le HTML, allez lire <a
href="http://linuxfromscratch.org/nomime.html">nomime.html</a>. <strong>Tous
les courriers contenant du HTML seront redirigés vers /dev/null et
n'atteindront jamais la liste</strong>. Malheureusement, le filtre HTML de
Spamassassin est très strict et bloquera tous les courriers avec du HTML ou
des balises de type XML. Gardez bien cela en tête si vous postez des
extraits de XML sur une liste. Un contournement largement utilisé consiste à
remplacer les signes supérieur &lt; et inférieur &gt; par des crochets [].</li>
       <li><strong>Coupez les lignes à 72 caractères</strong>. Si vous ne voulez pas le
faire à la main, configurez votre client de messagerie pour qu'il le fasse
automatiquement à l'envoi des messages.</li>
       <li><strong>Répondez <em>sous</em> les citations</strong>. Ce n'est pas facile
avec Outlook. Il existe un <a
href="http://home.in.tum.de/%7Ejain/software/outlook-quotefix/">greffon pour
corriger Outlook</a>, et <a
href="http://home.in.tum.de/%7Ejain/software/oe-quotefix/">un pour Outlook
Express</a>.</li>
	    <li><strong>Limitez vos signatures à quatre lignes.</strong></li>
       <li><strong>Élaguez les citations</strong>, surtout les signatures. Mais
<strong>n'élaguez pas au point de rendre votre message difficile à
comprendre</strong> sans consulter le message original.</li>
       <li><strong>Ne cliquez pas sur «&nbsp;Répondre&nbsp;» à moins que vous ne soyez
vraiment en train de répondre à un message</strong>. Utilisez les boutons
«&nbsp;Nouveau&nbsp;» ou «&nbsp;Écrire&nbsp;» ou quel que soit le nom que
votre logiciel de messagerie lui donne, pour poser une nouvelle question ou
commencer un nouveau fil de discussion. Le bouton «&nbsp;Répondre&nbsp;» ne
fait pas que remplir le champ «&nbsp;Sujet&nbsp;», il enverra votre message
au mauvais endroit sauf si votre message est effectivement une réponse.</li>
	  </ul>
     <p>Ce qui suit n'est pas de la plus grande importance, mais ça peut être utile
de le savoir. Sur les listes LFS, les gens effacent généralement le champs
CC et envoient leurs réponses à la liste. Ce n'est sans doute pas une bonne
idée mais cette pratique existe. Elle est due à une situation politique qui
n'est pas près de changer.</p>
     <p>La <a href="http://www.ietf.org/rfc/rfc1855.txt">RFC 1855</a> «&nbsp;fournit
un jeu d'instructions minimal concernant l'Étiquette sur la Toile (la
Netiquette) et fonctionne comme un jeu d'instructions minimal à destination
des individus, qu'ils soient utilisateurs ou administrateurs&nbsp;».</p>
	</dd>
      </dl>
      <p><a href="#generalfaq">Haut de page.</a></p>
      <h3 id="frb">Bogues fréquemment remontés</h3>
      <dl>
	<dt id="wrong-ln-s-command">Dans le livre, les commandes «&nbsp;ln -s&nbsp;» sont incorrectes.</dt>
	<dd>
     <p>Non, les commandes «&nbsp;ln -s&nbsp;» du livre sont correctes. Un lien
symbolique est juste un fichier spécial qui contient le nom de fichier
donné. Le nom de fichier est donc relatif au lien, pas au répertoire courant
au moment de la création du lien. Essayez pour voir. Plus d'informations
avec <code>man ln</code>.</p>
	</dd>
	<dt id="its-hardlink-not-copy">/bin/foo est une copie de /bin/bar.</dt>
	<dd>
     <p>Essayez "ls -i /bin/foo /bin/bar". Les numéros d'inodes sont-ils les
mêmes&nbsp;? Si oui, ce ne sont pas des copies, ce sont des liens matériels.</p>
          <p>Pour plus d'explications sur les différences entre liens symboliques et
liens matériels, consultez la page de Questions/Réponses sur Linux Gazette à
cette adresse&nbsp;: <a
href="http://linuxgazette.net/105/pitcher.html">http://linuxgazette.net/105/pitcher.html</a>.</p>
	</dd>
	<dt id="why-not-version">Puis-je utiliser une version plus récente que celle du livre&nbsp;?</dt>
	<dd>
     <p>Si c'est la première fois que vous construisez LFS, ce n'est pas une bonne
idée d'utiliser une version qui n'est pas dans le livre, ou qui en
diffère. Les utilisateurs réguliers des canaux IRC ont un proverbe,
«&nbsp;FBBG&nbsp;» («&nbsp;Follow Book, Book Good&nbsp;»), soit
«&nbsp;Suivez livre, livre bon&nbsp;». Ils ont, avec les utilisateurs des
listes, souvent aidé des débutants mécontents ayant dévié du livre pour leur
première construction.</p>
     <p>Une fois que vous avez bâti un système «&nbsp;au plus près du livre&nbsp;»,
vous avez une base de connaissance solide à partir de laquelle vous allez
pouvoir vous lancer à cœur joie (ou endolori le plus souvent) dans diverses
expériences.</p>
	</dd>
	<dt id="new-version">Il y a une nouvelle version du paquet Foo.</dt>
	<dd>
     <p>Si cette nouvelle version a plus d'un jour, il est probable que quelqu'un
l'ait déjà testé et mentionné dans les listes de diffusion. Cherchez dans
les archives avant de poster une question pour savoir si ce paquet
fonctionne.</p>
	  <p>Si vous voulez annoncer la sortie d'une nouvelle version, suivez ces étapes
pour éviter de faire une annonce en double.</p>
	  <ul>
       <li>Vérifiez s'il y a un <a href="http://wiki.linuxfromscratch.org/lfs/">ticket
LFS</a> ou un <a href="http://wiki.linuxfromscratch.org/blfs/">ticket
BLFS</a> ouvert pour voir si elle y a été postée.</li>
       <li>S'il n'y a pas de ticket ouvert concernant cette sortie, annoncez-la sur la
liste lfs-book (ou sur blfs-book si le paquet concerne BLFS). Et si vous
voulez, testez-le et rapportez tout problème ou changement dans les
instructions de compilation.</li>
	  </ul>
	</dd>
	<dt id="delete_key_not_work">La touche Suppr. ne fonctionne pas.</dt>
	<dd>
	  <p>Lisez la page <a href="/view/lfs-stable/chapter07/inputrc.html">inputrc</a>
du livre LFS.</p>
	</dd>
	<dt id="shutdown-on-fsck-error">Le système s'éteint quand fsck sort en erreur&nbsp;!</dt>
	<dd>
     <p>Les système Unix lancent normalement sulogin quand le fsck d'un démarrage
normal sort en erreur, afin que root puisse se connecter et résoudre le
problème. Comme sulogin va accepter n'importe quel mot de passe si
/etc/passwd est corrompu, les développeurs de LFS ont estimé que cela
représentait un risque pour la sécurité. Les scripts de démarrage de LFS
éteignent donc la machine en cas d'erreur de fsck, et elle doit être
démarrée avec le paramètre de noyau «&nbsp;init=/bin/bash&nbsp;» afin
d'obtenir un shell root. Savoir si cela est sage ne rentre pas dans le
périmètre de cette FAQ, mais si cela ne vous convient pas, changez les
scripts de démarrage avant qu'il ne soit trop tard.</p>
	</dd>
	<dt id="where-lfs-packages">Où sont les archives des paquets LFS ou les scripts wget&nbsp;?</dt>
	<dd>
     <p>Les archives des paquets sont disponibles sur <a
href="http://anduin.linuxfromscratch.org/sources/LFS/lfs-packages/">le dépôt
de fichiers de LFS</a>. Il y a aussi un lien vers wget-list dans le livre,
vers la fin de la page d'<a
href="/view/lfs-stable/chapter03/introduction.html">Introduction</a> aux
paquets et correctifs.</p>
        </dd>
	<dt id="how-to-find">Comment puis-je trouver un paquet ou une commande&nbsp;?</dt>
	<dd>
	  <p>Consultez la page <a href="{{site.baseurl}}/lfs/telecharger/">téléchargement
de LFS</a>.</p>
	</dd>
	<dt id="how-to-upgrade">Comment puis-je mettre à jour mon système LFS/BLFS&nbsp;?</dt>
	<dd>
     <p>Vous le savez probablement déjà mais LFS n'est pas un distribution au sens
traditionnel du terme. Son but premier est&nbsp;: <a
href="{{site.baseurl}}/lfs/index.html">enseigner aux gens comment un système
Linux fonctionne en interne</a>.</p>
     <p>Bien que cela signifie que vous aillez un grand contrôle sur votre système
(«&nbsp;Votre distro. Vos règles.&nbsp;»), Il a aussi l'inconvénient d'avoir
à prendre soin de la mise à jour vous-même.</p>
     <p>Si vous avez construit un système LFS et l'avez complété pour qu'il devienne
votre système principal, la meilleure chose à faire est de décider d'une
stratégie de mise à niveau. Vous voulez conserver la dernière version de
chaque paquet&nbsp;? Alors faites attention, parce que vous allez vous faire
mal. Je recommande d'être légèrement conservateur lors de la mise à niveau
pour maintenir un système sain. Une règle générale qui fonctionne pour la
plupart des gens est&nbsp;: mettre à jour seulement les paquets s'ils ont
des correctifs de sécurité. Inscrivez-vous à lfs-security et LWN pour vous
tenir au courant des correctifs de sécurité. Une autre règle est&nbsp;: ne
pas mettre à jour la chaîne d'outils (gcc, glibc et binutils) à moins de
reconstruire votre système entièrement. Ces paquets constituent le cœur de
votre système LFS, les détruire signifie détruire la capacité de compiler
des paquets ou même exécuter des fichiers binaires. </p>
     <p>Rappelez vous que la mise à jour des paquets se fait à vos risques et
périls. LFS fait très attention à présenter un ensemble stable de paquets
qui sont compatibles pour aller au bout de BLFS et que vous puissiez
compiler OpenOffice.Org et Java (qui sont de vrais mastodontes à
compiler). Cela signifie que votre système LFS peut être un peu dépassé mais
assurer la compatibilité et la stabilité. Vous pouvez comparer cela aux
versions Stable et testing de Debian, bien que la version LFS stable soit
généralement très récente comparée aux autres distributions. </p>
     <p>En général il est possible de mettre à jour des paquets seuls&nbsp;; ils
réécriront simplement le vieux contenu. Les gestionnaires de paquets
prennent soin de désinstaller les anciennes versions, et c'est clairement
pratique d'avoir une sorte de gestion de paquet en place. Regardez les
astuces&nbsp;; il y en a plusieurs, de RPM à DEB en passant par TGZ
(Slackware), Checkinstall et les utilisateurs paquets. </p>
     <p>Un dernier commentaire&nbsp;: Quelles instructions devez vous utiliser pour
la mise à jour d'un paquet&nbsp;? En général, vous pouvez utiliser les
instructions standards de LFS, bien que vous ne devez pas aveuglement penser
qu'elles s'appliqueront pour tous les paquets. Pour rester informé des mises
à jour et des nouvelles instructions, inscrivez vous à lfs-dev. Gardez en
tête que ce n'est pas une liste de support mais une liste de développement.</p>
	</dd>
      </dl>
      <p><a href="#generalfaq">Haut de page.</a></p>
      <h3 id="oldfaq">FAQ anciennes et périmées</h3>
      <dl>
   <dt id="version-not-in-book"><a href="#version-not-in-book">J'ai utilisé une version qui n'est pas dans
le livre. Est-ce un problème&nbsp;?</a></dt>
	<dd>
     <p>Il y a déjà une <a href="#why-not-version">entrée dans la FAQ</a> qui décrit
cela. Comme presque personne ne se réfère à cette entrée, elle est
maintenant obsolète. </p>
	</dd>
	<dt id="wheres-which"><a href="#wheres-which">Où est-ce&nbsp;?</a></dt>
	<dd>
     <p>Obsolète à cause du livre <a
href="/view/blfs-stable/general/which.html">BLFS</a>.</p>
	</dd>
	<dt id="portmap"><a href="#portmap">Où est portmap&nbsp;?</a></dt>
	<dd>
     <p>Obsolète à cause du livre <a
href="/view/blfs-stable/basicnet/rpcbind.html">BLFS</a>.</p>
	</dd>
	<dt id="lfs-logos"><a href="#lfs-logos">Où puis-je avoir des Logos LFS&nbsp;?</a></dt>
	<dd>
	  <p>Obsolète à cause de la page Web <a
href="http://linuxfromscratch.org/blfs/artwork/">BLFS artwork</a>.</p>
	</dd>
   <dt id="optimized-glibc-fail"><a href="#optimized-glibc-fail">Ma construction optimisée de glibc échoue
dans spinlock.c</a></dt>
	<dd>
     <p>Nous n'incitons pas les gens à optimiser la glibc. De plus, <a
href="{{site.baseurl}}/faq/lfs#optimizations">lorsque vous utilisez des
indicateurs d'optimisation (paramètres CFLAGS)</a>, il faudrait faire
attention à cette question.</p>
	</dd>
      </dl>
      <h3 id="thanks">Merci</h3>
   <p>Cette FAQ est dédiée à tous les gens durs à la tâche sur les listes de
support qui me tiennent occupés avec cette FAQ ;-). </p>
	<p>Merci à...</p>
	<ul>
     <li>Seth W. Klein pour la création et la maintenance de cette FAQ avant moi.</li>
     <li>Tous les gars (et toutes les quelques filles aussi, j'aimerai qu'il y en ai
plus) des listes, de qui les réponses, beaucoup des réponses viennnent.</li>
     <li>En particuliers ceux d'entre vous qui comprennent la question, ses symptômes
et ses réponses et qui m'envoient le tout. Votre ID est immortalisée pour
toujours dans le journal des modifications (enfin seulement pour la durée
d'un toujours numérique, mais bon, au moins j'essaye :-))</li>
     <li>Tushar Teredesai, Chris Lingard, Jeremy Utley, The Cheeze et les
innombrables autres personnes qui régulièrement poste des liens de FAQ sur
les listes d'aide.</li>
	  <li>Les éditeurs de BLFS dont le livre produit si délicieusement peu de
questions récurrentes.</li>
	</ul>

       <br />
