---
layout: page
title: "Télécharger LFS"
use-site-title: true
---
<h2>Télécharger la dernière version&nbsp;:</h2>
<p>
La dernière version stable est la version {{ site.data.lfs.versions.current }}.
</p>
<p>
<a class="btn btn-success btn-lg" href="{{ site.archives }}/LFS-{{ site.data.lfs.versions.current }}/LFS-{{ site.data.lfs.versions.current }}-fr.pdf">
<i class="fa fa-file-pdf"></i> Version SysVinit</a>&nbsp;
<a class="btn btn-success btn-lg" href="{{ site.archives }}/LFS-{{ site.data.lfs.versions.current }}-systemd/LFS-{{ site.data.lfs.versions.current }}-fr-systemd.pdf">
<i class="fa fa-file-pdf"></i> Version Systemd</a>
</p>
<h2>Télécharger la version de développement&nbsp;:</h2>
<p>
La version de développement est disponible uniquement sur le <a href="http://fr.linuxfromscratch.org/websvn/">dépôt svn</a>&nbsp;:</br>
</p>

{% highlight bash %}
  svn co svn://svn.linuxfromscratch.org/fr-lfs/trunk/lfs lfs
{% endhighlight %}

<h2>Télécharger une ancienne version&nbsp;:</h2>
  {% for version in site.data.lfs.download %}
  <h3>{{ version[0] | print_version }}&nbsp;:</h3>
  <p>
    <ul>
    {% for file in version[1] %}
      <li><a href="{{ site.archives }}/{{ version[0] }}/{{ file }}">{{ file | print_download }}</a></li>
    {% endfor %}
    </ul>
  </p>
  {% endfor %}
