---
layout: lasts
title: Hardened Linux From Scratch
use-site-title: true
all_news_url: /tag/HLFS/
pagination:
  enabled: true
  per_page: 4
  tag: HLFS
---

<div class="alert alert-warning">
<p>
  <strong>Attention&nbsp;!</strong> Ce livre n’est plus maintenu.
</p>
</div>

 <p style="text-indent: 40px;">
   <strong>Hardened Linux From scratch</strong> reprend le concept de LFS tout en y ajoutant des éléments de sécurité.
 </p>
 <p>
   Ce livre se focalise sur le point de vue de la sécurité. Par exemple, l’ensemble d’outils est corrigé pour lutter
   contre le débordement de mémoire (buffer overflow).
 </p>
 <p>
   Pour ce faire, certains paquets de LFS sont changés et d’autres sont ajoutés depuis BLFS.
 </p>
  <p class="test-center">
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/hlfs/lire">Lire le livre</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/hlfs/telecharger">Télécharger le livre</a>&nbsp;
  </p>
