---
layout: page
title: Lire HLFS
use-site-title: true
---
<div class="alert alert-warning">
<p>
  <strong>Attention&nbsp;!</strong> Ce livre n’est plus maintenu.
</p>
</div>

<h2>Consulter la version de développement&nbsp;:</h2>
<p>
Attention, étant la version de développement, il se peut qu’il y reste des fautes et des bogues
issus de la version originale qui n’ont pas été corrigés. Elle doit être utilisée prudemment.
</p>

<p class="text-center">
<a class="btn btn-primary btn-lg" href="{{ site.view }}/hlfs-svn">
<i class="fa fa-bug"></i> Lire hlfs</a>&nbsp;
</p>
