---
layout: page
title: Télécharger HLFS
use-site-title: true
---
<div class="alert alert-warning">
<p>
  <strong>Attention&nbsp;!</strong> Ce livre n’est plus maintenu.
</p>
</div>

<h2>Télécharger la version de développement&nbsp;:</h2>
<p>
Attention, étant la version de développement, il se peut qu’il y reste des fautes et des bogues
issus de la version originale qui n’ont pas été corrigés. Elle doit être utilisée prudemment.
</p>

<p class="text-center">
<a class="btn btn-primary btn-lg" href="{{ site.archives }}/hlfs-svn/hlfs-svn-fr-html.tar.bz2">
<i class="fa fa-bug"></i> Télécharger hlfs</a>&nbsp;
</p>
<p>
Télécharger via le <a href="http://fr.linuxfromscratch.org/websvn/">dépôt svn</a>&nbsp;:
{% highlight bash %}
  svn co svn://svn.linuxfromscratch.org/fr-lfs/trunk/hlfs hlfs
{% endhighlight %}
</p>
