<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

{% if page.bigimg %}
  <div id="header-big-imgs" data-num-img={% if page.bigimg.first %}{{ page.bigimg.size }}{% else %}1{% endif %}
    {% for bigimg in page.bigimg %}
	  {% assign imgnum = forloop.index %}
	  {% for imginfo in bigimg %}
	    {% if imginfo[0] %}
		  data-img-src-{{ imgnum }}="{{ imginfo[0] | prepend: site.baseurl | replace: '//', '/' }}"
		  data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
		{% else %}
		  data-img-src-{{ imgnum }}="{{ imginfo | prepend: site.baseurl | replace: '//', '/' }}"
		{% endif %}
	  {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}">
{% if page.bigimg %}
<div class="big-img intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
          {% elsif page.synopsis %}
            {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.synopsis }}</span>
            {% else %}
            <h2 class="{{ include.type }}-subheading">{{ page.synopsis }}</h2>
            {% endif %}
		  {% endif %}

            {% if include.type == "post" %}
		        <span class="post-meta">Posté le {{ page.date | localize: "%-d %B %Y" }}</span>
                {% if page.tags.size > 0 %}
                    <div class="blog-tags">
                        Tags:
                        {% if site.link-tags %}
                            {% for tag in page.tags %}
                                <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        {% else %}
                            {{ page.tags | join: ", " }}
                        {% endif %}
                    </div>
                {% endif %}
            {% elsif include.astuce %}
            <div class="row">
                <p class="page-author">Par <strong>{{ page.author }}</strong></p>
                {% if page.translator %}
                <p class="page-translator">Traduit par {{ page.translator }}</p>
                {% endif %}
            </div>
            <div class="row">
                <p class="page-date">Publiée le {{ page.date | localize: "%-d %B %Y" }}</p>
                <p class="page-license">Sous licence {{ page.license | license_badger }}</p>
            </div>
		    {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
        {% elsif page.synopsis %}
            {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.synopsis }}</span>
            {% else %}
            <h2 class="{{ include.type }}-subheading">{{ page.synopsis }}</h2>
            {% endif %}
		  {% endif %}

            {% if include.type == "post" %}
                <span class="post-meta">Posté le {{ page.date | localize: "%-d %B %Y" }}</span>
                {% if page.tags.size > 0 %}
                    <div class="blog-tags">
                        Tags:
                        {% if site.link-tags %}
                            {% for tag in page.tags %}
                                <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        {% else %}
                            {{ page.tags | join: ", " }}
                        {% endif %}
                    </div>
                {% endif %}
            {% elsif include.astuce %}
            <div class="row">
                <p class="page-author">Par <strong>{{ page.author }}</strong></p>
                {% if page.translator %}
                <p class="page-translator">Traduit par {{ page.translator }}</p>
                {% endif %}
            </div>
            <div class="row">
                <p class="page-date">Publiée le {{ page.date | localize: "%-d %B %Y" }}</p>
                <p class="page-license">Sous licence {{ page.license | license_badger }}</p>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
