---
layout: lasts
title: Beyond Linux From Scratch
use-site-title: true
all_news_url: /tag/BLFS/
pagination:
  enabled: true
  per_page: 4
  tag: BLFS
---

  <p style="text-indent: 40px;">
   <strong>Beyond Linux From scratch</strong> est la suite de LFS. Il vous permettra d’aller au-delà de LFS grâce à
    ces instructions de compilation de très nombreux paquets, mais celles-ci pourront aussi être utiles à des utilisateurs
    de distributions «&nbsp;classiques&nbsp;».
  <center>
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/blfs/lire">Lire le livre</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/blfs/telecharger">Télécharger le livre</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/faq/blfs">Lire la FAQ</a>
  </center>
  </p>
