---
layout: page
title: Lire BLFS
use-site-title: true
---
<h2>Consulter la dernière version&nbsp;:</h2>
<p>
La dernière version stable est la version {{ site.data.lfs.versions.current }}.
</p>
<p>
Comme pour LFS, vous avez maintenant le choix entre deux variantes. Vous devez
sélectionner la variante utilisée pour construire votre système LFS.
</p>
<p class="text-center">
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.view }}/blfs-stable">Lire la version SysVinit</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.view }}/blfs-systemd-stable">Lire la version Systemd</a>
</p>
<h2>Consulter la version de développement&nbsp;:</h2>
<p>
Attention, étant la version de développement, il se peut qu’il y reste des fautes et des bogues
issus de la version originale qui n’ont pas été corrigés. Elle doit être utilisée prudemment.
</p>
<p class="text-center">
<a class="btn btn-primary btn-lg" href="{{ site.view }}/blfs-svn">
<i class="fa fa-bug"></i> version SysVinit</a>&nbsp;
<a class="btn btn-primary btn-lg" href="{{ site.view }}/blfs-systemd-svn">
<i class="fa fa-bug"></i> version Systemd</a>
</p>

<h2>Consulter les anciennes versions&nbsp;:</h2>
<p>
  <ul>
{% for version in site.data.blfs.versions.older %}
  <li><a href="{{ site.view }}/blfs-{{ version[0] }}-fr">BLFS {{ version[0] }}</a></li>
  {% if version[1] %}
  <li><a href="{{ site.view }}/blfs-{{ version[0] }}-systemd-fr">BLFS {{ version[0] }} systemd</a></li>
  {% endif %}
{% endfor %}
  </ul>
</p>
