---
layout: page
title: Lire les Astuces
use-site-title: true
---

<div style="text-indent: 30px;">
    <i>Les astuces&nbsp;:</i>
</div>
<div>
	<a href="{{ site.baseurl }}/astuces/archive">
</div>
<div class="posts-list list-group-item">
  {% for page in site.pages %}
  {% if page.layout == 'astuce' %}
  <article class="post-preview">
    <a href="{{ page.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ page.title }}</h2>
	  {% if page.synopsis %}
	  <h3 class="post-subtitle">
	    {{ page.synopsis }}
	  </h3>
	  {% endif %}
    </a>
    <div class="row">
        <p class="page-list-date">
            Publiée le {{ page.date | localize: "%-d %B %Y" }} sous {{ page.license | license_badger }}
        </p>
        <p class="page-list-author">
            Par <em>{{ page.author }}</em>
        </p>
    </div>
   </article>
  {% endif %}
  {% endfor %}
</div>
