---
layout: page
pagination:
  enabled: true
  per_page: 4
---

{{ content}}

<div style="text-indent: 30px;"><i>Les dernières nouvelles du projet&nbsp;:</i></div>

<div class="posts-list">
  <ul class="list-group">
  {% for post in paginator.posts %}
  <li class="list-group-item">
    <article class="post-preview">
      <div class="row">
        <div class="vcenter col-xs-9 col-sm-10">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>

            {% if post.subtitle %}
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
            {% endif %}
            <p>
              {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
            </p>
          </a>
          <div class="row">
            <div class="post-date col-xs-10 col-sm-6">
              Posté le {{ post.date | localize: "%-d %B %Y" }}
            </div>
            {% if post.tags.size > 0 %}
            <div class="blog-tags col-xs-10 col-sm-6">
              Tags:
              {% if site.link-tags %}
              {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
              {% endfor %}
              {% else %}
              {{ post.tags | join: ", " }}
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="vcenter col-xs-2 col-sm-1">
            <span class="post-title glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          </div>
        </a>
      </div>
     </article>
   </li>
  {% endfor %}
  </ul>
</div>

<ul class="pager main-pager">
  <li class="next">
    <a href="{{ page.all_news_url | prepend: site.baseurl }}">
      Toutes les nouvelles
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>
  </li>
</ul>
