---
layout: page
title: Équipe
use-site-title: true
---
En cas de question sur le projet, merci de contacter prioritairement la <a href="{{ site.baseurl }}/aide#mailing-list">liste de diffusion</a>.
<h2>Traducteurs</h2>
<ul>
  <li><b><i>Julien LEPILLER</i></b></li>
  <li><b><i>Amaury JACQUES</i></b></li>
  <li><b><i>Denis MUGNIER</i></b></li>
  <li><b><i>Jean-Philippe MENGUAL</i></b></li>
</ul>

<h2>Anciens traducteurs</h2>
<ul>
  <li><b><i>Guillaume LELARGE</i></b></li>
  <li><b><i>Johan LENGLET</i></b></li>
  <li><b><i>Laurent HOAREAU</i></b>, BLFS</li>
  <li><b><i>Barthélémy BONADIO</i></b>, BLFS</li>
  <li><b><i>Roméo VIU-BERGÈS</i></b>, CLFS</li>
</ul>

<h2>Relecteurs et relectrices</h2>
<ul>
  <li><b><i>Alexandre MALDEME</i></b>, LFS et BLFS 7.7</li>
  <li><b><i>Didier SIMON</i></b>, LFS 6.5</li>
  <li><b><i>Mohamed-Rafik BOUGUELIA</i></b>, LFS 6.4</li>
  <li><b><i>Claude THOMASSIN</i></b>, LFS 5.0</li>
  <li><b><i>Vanessa</i></b>, LFS 4.1</li>
  <li><b><i>Jean-Pierre HAURADOU</i></b>, LFS svn</li>
  <li><b><i>Emmanuel TRILLAUD</i></b>, CLFS et HLFS</li>
</ul>

<h2>Autres</h2>
<ul>
  <li><b><i>Jérémy LUGAGNE</i></b>, ancien site</li>
  <li><b><i>Jean-Pierre HAURADOU</i></b>, déboguage xml</li>
</ul>
